<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $.Scratch.Set "Title" (default .Title (index .Site.Params.text (print "title_" (lower .Title)))) }}
    <title>{{ if eq ($.Scratch.Get "Title") .Site.Title }}{{ .Site.Title }}{{ else }}{{ ($.Scratch.Get "Title") }} | {{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
  </head>
  <div class="zhezhao" id="zhezhao"></div>
  <img id="toTop" onclick="topp(this)" style="position: fixed;bottom:5rem;right: 2rem;cursor: pointer;display: none" src="{{ .Site.BaseURL }}images/icons/top.png"/>

  <body {{if .IsPage}} class="page"{{ end }} id="body">
    <nav class="header">
      <div>
        <img style="float: left" src="{{ .Site.BaseURL }}images/icons/logo.png" />
        <a style="    color: #0071bc;
    border: 1px solid #0071bc;
    padding: 0px 4px 2px 4px;height: 1.5rem;
    margin-top: 1.3rem;float: right" href="http://perfxlab.com/">EN</a>
        <ul style="display: inline-block;float: right;color:#0071bc;" class="menu">


          {{ range $i, $v := .Site.Menus.main }}
          <li style="margin-top: 1rem;margin-right: 3rem"><a onclick="curr(this)" id="h_nav_{{ $i }}"  class="h_nav " style="color:#333;" href="{{ .URL | relURL }}"><span data-hover="{{ .Name }}">{{ .Name }}</span></a></li>
          {{ end }}

        </ul>

      </div>


      <div style="width: 100%" class="head-meta">

        <div style="width: 100%;">
          <img style="
    position: absolute;
        margin-left: -32rem;
    margin-top: 7rem;" src="{{ "/images/icons/banner.png" | relURL }}" />
          <div style="    text-align: center;
    margin-top: 10rem;    margin-bottom: 6rem;    margin-left: 9rem;">
      <span style="    background: #0071bc;
    color: #fff;
    padding: 0.3rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 19rem;">澎峰科技</span>
            <p style="font-size: 3rem;
    font-weight: 500;">PerfXLab</p>
            <h3 style="font-size: 2rem">Discovering Potential. Driving Perf<img src="{{ .Site.BaseURL }}images/icons/perf.png" />rmance</h3>
            <p style="    font-size: 1rem;margin-bottom: 2rem">挖掘AI潜能，引领客户潜能。</p>
            <a style="color:#eb8004;font-size: 1rem;
    padding: 0.3rem 2rem;
    border: 1px solid #eb8004;cursor: pointer" href="#contact_h" >加入我们</a>
          </div>

        </div>

      </div>
    </nav>
  <script>
    window.onload = function(){
      var test = window.location.href;
      console.log(test)
      if(test.indexOf("index") != -1){
        document.getElementById('h_nav_0').classList.add('curr')
//        document.getElementById('post').style.setProperty('background','#f0f0f0')
      }
      if(test.indexOf("about_us") != -1){
        document.getElementById('h_nav_1').classList.add('curr')
      }
      if(test.indexOf("product") != -1){
        document.getElementById('h_nav_2').classList.add('curr')
      }
      if(test.indexOf("contact") != -1){
        document.getElementById('h_nav_3').classList.add('curr')
      }
      if(test.indexOf("blog") != -1 || test.indexOf("page") != -1 || test.indexOf("post") != -1){
        document.getElementById('h_nav_4').classList.add('curr')
        document.getElementById('body').style.setProperty('background','#fafafa')
      }

    };
    function curr(obj){





      var len=document.getElementsByClassName('h_nav').length;
      var nav=document.getElementsByClassName('h_nav');
      var post=document.getElementsByClassName('h_nav');
      var post_len=post.length;
      for(var i=0;i<len;i++){
        console.log(nav[i]);
        nav[i].classList.remove('curr');
        nav[i].index=i;

      }
      obj.classList.add('curr');

    }
    function topp(obj){
//    document.documentElement.scrollTop==0;
      window.scrollTo(0,0);
    }
    window.onscroll = function(){
      var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
      if(scrollTop>100){
        document.getElementById('toTop').style.setProperty('display','block')
      }else{
        document.getElementById('toTop').style.setProperty('display','none')
      }

    }

  </script>